extends layout

block content
  h1= title
  p Welcome to #{title}


  p Register
  form(action="/rest/register", method="post")
    input(type="text" name="userName")
    input(type="password" name="pwd")
    button(type="submit") ok


  p Login
  form(action="/rest/login", method="post")
    input(type="text" name="userName")
    input(type="password" name="pwd")
    button(type="submit") ok
